/venv/
.idea
.env
__pycache__/
/python-text-to-pdf/PDFs/
**/.env
**/venv/
**/script.spec
**/gui.spec
*.PDF


# created by virtualenv automatically
.idea/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
/bonus/bonus6/
/exercises/exercise6/
/bonus/bonus16/compressed.zip
/forecast-data-app/.env
/forecast-data-app/.env
/portfolio/.env
/SimpleProjects/StudentProject1/.env
/webcam_monitoring/.env
/forecast-data-app/.env
/portfolio/.env
/SimpleProjects/StudentProject1/.env
/webcam_monitoring/.env
/invoice-generator/PDFs/10001-2023.1.18.pdf
/invoice-generator/PDFs/10002-2023.1.18.pdf
/invoice-generator/PDFs/10003-2023.1.18.pdf
/forecast-data-app/.env
/portfolio/.env
/SimpleProjects/StudentProject1/.env
/webcam_monitoring/.env
/python-app1/.idea/.name
/webcam_monitoring/.env
/invoice-generator/PDFs/10003-2023.1.18.pdf
/python-app1/venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_appengine_environ.py
